.Tela-asteroide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#IconeEInformacao{
    display: flex;
    flex-direction: row;
    margin: 4rem;
    align-items: center;
    justify-content: space-around;
}

p{
    font-family: 'Julius Sans One', sans-serif;
    text-align: justify;
}

#informacao{
}

#icone {
    margin-right: 4rem;
    position: relative;
    width: 50px;
    height: 100px;
  }

.linha{
    font-family: 'Julius Sans One', sans-serif;
    height: 1 rem;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.conteudo{
    margin-left: 1rem;
}

  @keyframes moveImage {
    0% { left: 0; bottom: 5px; }
    50% { left: 5px; bottom: 0px; }
    85% { left: 4px;}
    100% { left: 0; bottom: 5px;}
  }
  
  #icone img {
    position: absolute;
    animation: moveImage 3s infinite;
  }

