<div class = "top">
    <div class = "child2">
        <img src="./assets/nasa-logo-0.png" alt="a" id="imgNasa">
    </div>
    <div class="child">
        <nav>
            <div id="icones">
                <div class="icone">
                    <img src="./assets/space-station.png" alt="ahn" class="overlay" >
                    <a routerLink="">Home</a>  
                </div>
                <div class="icone">
                    <img src="./assets/camera.png" alt="a">
                    <a routerLink="fotoDia">Foto do dia </a>
                </div>
                <div class="icone">
                    <img src="./assets/asteroid.png" alt="ahn" class="overlay">
                    <a routerLink="asteroides">Asteroides</a>  
                </div>
            </div>
        </nav>
    </div>
</div>
    