
#parent{
    display: flex;
    flex-direction: row;
}

h2{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}
p{
    font-size: 18px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: justify;
}

img{
    width: 27rem;
}