<div id="parent">
    <div class="child">
        <img src="././assets/pngwing.com (2).png" alt="s" id="background">
    </div>
    <div class="child">
        <h2>Por que esse site existe?</h2>
        <p>Esse site foi feito com o objetivo de juntar um interesse pessoal meu, que é Astronomia e exploração espacial, e aprender conceitos básicos do framework <strong> Angular </strong> e <strong> requisições para API's.</strong></p>
        <p>A aba 'Foto do dia' foi feita usando a API 'APOD' da NASA, que todo dia traz uma foto diferente e sua explicação.</p>
        <p>Usei conceitos como interfaces, routers, *ngIf, *ngFor, services e emissão de eventos. </p>

    </div>
</div>
